<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Modify Facture</title>
  </head>
  <body>
    {% extends 'base.html' %} {% block content %}
    <h1>Modifier Facture</h1>
    <form method="post">
      {% csrf_token %} {{ form.as_p }}
      <button type="submit">Save Changes</button>
    </form>
    <a href="{% url 'liste_factures' %}">Back to List</a>
    {% endblock %}
  </body>
</html>
