<!-- base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Django App{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <nav class="navbar">
            <ul>
                <li><a href="{% url 'liste_factures' %}">Liste des Factures</a></li>
                <li><a href="{% url 'creer_facture' %}">Créer une Facture</a></li>
                <li><a href="{% url 'liste_clients' %}">Liste des Clients</a></li>
                <li><a href="{% url 'ajouter_client' %}">Ajouter un Client</a></li>
                <li><a href="{% url 'ajouter_categorie' %}">Ajouter une Catégorie</a></li>
            </ul>
        </nav>
    </header>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
